<!DOCTYPE html>
<html>
<head>
<title>{% block title %}My Amazing Site{% endblock %}</title>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- link rel="stylesheet" href="{% static 'css/main.css' %}" /-->
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
#exchange { width:100%;}
table {	width : 100%; 	border-collapse: collapse;  }
</style>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="w3-light-grey">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
  <span class="w3-bar-item w3-right">
    {% if request.session.login  %}
        {{ request.session.login}}님이 로그인 하셨습니다. &nbsp;&nbsp;
       <a href="/member/logout/">로그아웃</a>
    {% else %}
       <a href="/member/login/">로그인</a>
       <a href="/member/join/">회원가입</a>
    {% endif %}
  </span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
  <img src="/static/img/logo.png"
      class="w3-circle w3-margin-right" style="width:80px">
    </div>
    <div class="w3-col s8 w3-bar">
    {% if request.session.login  %}
      <span>반갑습니다. <strong>{{ request.session.login }}님</strong></span>
    {% else %}
      <span><strong>로그인하세요</strong></span>
    {% endif %}
      <br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>장고 프로그램 연습</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-umbrella fa-fw"></i>&nbsp; HOME 날씨예측</a>
    <a href="/member/main" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; 회원관리</a>
    <a href="/board/list" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; 게시판</a>
    <a href="/dress" class="w3-bar-item w3-button w3-padding"><i class="fa fa-black-tie fa-fw"></i>&nbsp; 의상판단</a>
  </div>
  <div id="exchange"></div>
</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main"
  style="margin-left:300px;margin-top:43px; margin-right: 20px;">
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> 프로그램 연습</b></h5>
  </header>
  <div class="w3-container w3-light-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-col" style="width:95%;">
        {% block content %}{% endblock %}
      </div>
      <div class="w3-container w3-col" style="width:5%;">
        <p>&nbsp;</p>
      </div>
    </div>
    <div style="margin-left:200px;margin-top:43px; margin-right: 20px;">
        <h4><b> 지역을  선택하세요 </b></h4>
        <select name="si" onchange="getText('si');">
            <option value="">시도를 선택하세요</option>
        </select>&nbsp;
        <select name="gu" onchange="getText('gu');">
            <option value="">구군을 선택하세요</option>
        </select>&nbsp;
        <select name="dong">
            <option value="">동리를 선택하세요</option>
        </select>
    </div>
  </div>
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>구디아카데미</h4>
    <p>Powered by <a href="http://www.gdu.co.kr/" target="_blank">구디아카데미</a></p>
  </footer>

  <!-- End page content -->
</div>
<script>
// Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }

// Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }

// 1. ajax application 생성. 설정
// 2. {"msg":"Hello"} 데이터 전송할 수 있도록 views.py 코딩
window.onload = function() {
    getSido()
    $.ajax({
       type: 'POST',
       url: '/ajax/exchange',
       success: function(data){
           let inner = "<table class='w3-table-all'><tr><th>통화명</th><th>환율</th><th>전일대비</th></tr>"
           data.msg.forEach(function(item){
             inner += "<tr><td>"+item[0]+"</td><td>"+item[1]+"</td><td>"+item[2]+"("+item[3]+")"+"</td>" 
          })
          document.querySelector('#exchange').innerHTML = inner+"</table>"; 
       },
       error: function(xhr, errmsg, err){
           alert("서버 오류:" + xhr.status)
           console.log(xhr.status + ": " + xhr+responseText);
       } 
    })
}


//초기값설정
function getSido() {
    $.ajax({
        url : "/ajax/select",
        success : function(data) {
            console.log(data)
            $.each(data.sido, function(i, item){
               $("select[name=si]").append(function(){
                   return "<option>"+item+"</option>"
               }) 
           })
        }
    })
}

//시구군 보여줌
function getText(name) {
    let city = $("select[name='si']").val();
    let gu = $("select[name='gu']").val();
    let disname;
    let toptext = "구군을 선택하세요";
    let params = "";
    if (name == "si"){
       params = "si=" + city.trim();
       disname = "gu"; 
    } else if (name == "gu") { //구군 선택한 경우
        params = "si=" + city.trim() + "&gu=" + gu.trim();
        disname = "dong";
        toptext = "동리를 선택하세요";
    } else {
        return ;
    }
    $.ajax({
        url : "/ajax/select",
        type : "POST",
        data : params,
        success : function(data) {
            console.log(data)
            if (name == "si"){
               $.each(data.sido, function(i, item){
                   $("select[name=si]").append(function(){
                       return "<option>"+item+"</option>"
                   }) 
               });
               // 시도 선택창이 업데이트되었을 때 구군과 동리 선택창 초기화
               $("select[name=gu]").empty().append("<option value=''>구군을 선택하세요</option>");
               $("select[name=dong]").empty().append("<option value=''>동리를 선택하세요</option>");
            } else {
                $("select[name="+disname+"] option").remove();
                $("select[name="+disname+"]").append(function(){
                    return "<option value=''>" + toptext + "</option>";
                });
            }
            $.each(data.sido, function(i, item) {
                $("select[name="+disname+"]").append(function(){
                    return "<option>"+item+"</option>";
                });
            });
        }
    });
}

</script>
</body></html>